body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
}

header {
  background-color: #f0f0f0;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

header h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

header p {
  font-size: 16px;
  margin-bottom: 10;
}

aside.sidebar {
  width: 20%;
  background-color: #f0f0f0;
  padding: 20px;
  border-right: 5px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 60px;
  bottom: 0;
  overflow-y: auto;
  margin-right: 20px;
  text-align: left;
}

aside.sidebar img {
  max-width: 65%;
  border-radius: 50%;
  display: block;
  margin: 20px auto 10px;
}

main {
  flex: 1;
  margin-left: calc(20% + 20px);
  padding: 80px 20px 20px;
  background-color: #f9f9f9;
  overflow-y: auto;
}

.sections-container {
  display: flex;
  gap: 20px;
}

section {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  list-style: none;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

em {
  font-size: 14px;
  font-style: italic;
  color: #666;
}

footer {
  background-color: #f0f0f0;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.icon-button {
  text-decoration: none;
  padding: 5px;
  font-size: 14px;
  color: #000;
}

.icon-button i {
  font-size: 16px;
}
